<html>
<body>

<div class="h-screen">
    <div class="md:flex justify-between mx-10 sm:mx-24 md:py-3 text-center md:text-left">
    <!-- Desktop-Left -->
        <div class="block font-main m-auto">
            <h1 class="text-white font-bold lg:text-7xl sm:text-5xl text-3xl">Re-inventing <br class="hidden md:flex"> the wheel <br> of Tech News</h1>
            <p class="text-white font-semibold lg:text-4xl sm:text-2xl opacity-75 md:mt-10 md:mr-44 mt-5 text-xl">Talk Tech Teen Tech is a podcast that talks about tech through the prespective of the younger generation, not the boomers</p>
            <button class="px-5 py-1 sm:px-5 sm:py-4 bg-gradient-to-r from-turqgrad to-bluegrad sm:mt-16 mt-5 sm:rounded-xl rounded-full visible: md:flex sm:hidden "><span class="visible sm:hidden md:flex font-bold">Join Us to change Tech News Forever</span></button>
        </div>
        <div class="flex md:justify-between mt-10 m-auto">
            <img src="../../public/assets/Computer%201.svg" class="w-3/4 md:w-screen m-auto" />
            <button class="py-5 px-4 bg-gradient-to-r from-turqgrad to-bluegrad m-auto rounded-xl hidden sm:flex md:hidden"><span class="hidden sm:flex md:hidden font-bold">L<br>I<br>S<br>T<br>E<br>N<br>N<br>O<br>W</span></button>
        </div>
    </div>
</div>
</body>
</html>