<html>
<body>

<div class="font-main text-white mb-16">
    <h1 class="text-7xl text-center md:mt-16 px-10 md:px-0 font-bold">
        Listen to Talk Tech Teen Tech
    </h1>

    <p class="text-center text-3xl mt-5 opacity-75 md:px-0 px-10">
        Listen to Talk Tech Teen Tech on any major streaming service
    </p>

    <div class="flex md:flex-row flex-col justify-around items-center m-auto gap-10 mt-16 md:mt-24">
        <div class="bg-gradient-to-r from-green-500 to-blue-500 px-10 py-2 text-5xl rounded-xl">
            <button onclick="window.location.href='https://open.spotify.com/show/3yFDdA71GgMHZ1lIBM4h88';">Spotify</button>
        </div>
        <div class="bg-gradient-to-r from-purple-500 to-pink-500 px-10 py-2 text-5xl rounded-xl">
            <button onclick="window.location.href='https://podcasts.apple.com/us/podcast/talk-tech-teen-tech/id1535573303';">Apple Podcasts</button>
        </div>
        <div class="bg-gradient-to-r from-red-500 to-yellow-500 px-10 py-2 text-5xl rounded-xl">
            <button onclick="window.location.href='https://www.youtube.com/channel/UCDjjA0esbXFSO8vZ4WkHblQ';">YouTube</button>
        </div>
    </div>
    <div class="flex md:flex-row flex-col justify-around items-center m-auto gap-10 mt-16 md:mt-24 mx-10 md:mx-0">
        <div class="bg-gradient-to-r from-yellow-500 to-yellow-900 px-10 py-2 text-5xl rounded-xl">
            <button onclick="window.location.href='https://feeds.redcircle.com/b95d4f68-9f91-4009-b9a8-9c2c0b31f68b';">RSS Feed</button>
        </div>
        <div class="bg-gradient-to-r from-red-500 to-red-900 px-10 py-2 text-5xl rounded-xl">
            <button onclick="window.location.href='https://redcircle.com/shows/talk-tech-teen-tech';">RedCircle</button>
        </div>
    </div>


</div>


</body>
</html>