<html>
<body>
    <div class="h-screen font-main">
        <h1 class="text-4xl font-main bg-clip-text text-transparent bg-gradient-to-r from-turqgrad2 to-pinkgrad text-center lg:text-6xl font-bold">Who are We?</h1>

        <div class="block md:flex m-auto">
            <div class="hidden md:flex pl-5">
                <img class="w-max" src="../assets/pifom.svg" />
            </div>

            <div class="flex m-auto md:text-right text-center px-10">
                <p class="mt-7 text-white md:text-sm lg:text-xl font-bold">Talk Tech Teen Tech is a podcast <br class="hidden lg:flex"> created by teens, made for the <br class="hidden md:flex"> masses. In this podcast we talk <br class="hidden md:flex"> about the bleeding edge of <br class="hidden md:flex"> technology but through a teens <br class="hidden md:flex"> perspective and what we think tech <br class="hidden md:flex"> should be about and how companies <br class="hidden md:flex"> handle technology. We talk about <br class="hidden md:flex"> products from all sorts of <br class="hidden md:flex"> companies (Apple, Samsung, <br class="hidden md:flex"> OnePlus, Xiomi, Dell, Microsoft <br class="hidden md:flex"> etc.). Our goal was to introduce <br class="hidden md:flex"> another prespective of technology <br class="hidden md:flex"> into the web and also to influence <br class="hidden md:flex"> others that you don't need to be 30 <br class="hidden md:flex"> to create a tech podcast, and with <br class="hidden md:flex"> minimal gear you can create an <br class="hidden md:flex"> amazing podcast! </p>
            </div>

            <!-- Tablet/Mobile -->

            <div>
                <img class="flex md:hidden px-10" src="../assets/pifom.svg" />
            </div>

        </div>
    </div>


</body>
</html>